body{
    margin: 0 auto 0 auto;
    width: 50%;
}
.container{
    align: center;
}

form{
    margin: 0 auto 0 auto;
    width: 80%;
    
}


/*.button{
    margin: 0 auto 0 auto;
    text-align: center;
}*/
